@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <table id="table">
        <thead>
            <tr>
                <th>Name</th>
                <td>Email</td>
                <th>Date of birth</th>
                <th>Department name</th>
                <th>Reporting manager name</th>
            </tr>
        </thead>
        <tbody id="body">

        </tbody>
    </table>
</div>
